@use '../../../variables.module.scss' as variable;

.btn {
  min-width: 100px;
  cursor: pointer;
  font-weight: 500;
  margin: 0.2rem;
  line-height: 2;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: variable.$white;
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 0 10px 20px -10px variable.$primary;
    transform: translateY(-5px);
  }

  &.primaryBtn {
    background: variable.$primary;
  }

  &.secondaryBtn {
    background: variable.$secondary;
  }

  &.infoBtn {
    background: variable.$grey;
  }
}

@media screen and (max-width: 400px) {
  .btn {
    min-width: 0;
  }
}
